<div class="left">
  <div *ngFor="let avatar of avatars let index = index" class="avatar" [ngClass]="{active: index===0}">
    <img src="" [ngStyle]="{'background':avatar}" />
  </div>
</div>
<div class="right">
  <div class="bubble-area">
    <ng-container *ngFor="let message of chatService.messages">
      <app-recieve-bubble *ngIf="message.type==='recieve'">{{message.text}}</app-recieve-bubble>
      <app-sent-bubble *ngIf="message.type==='send'">{{message.text}}</app-sent-bubble>
    </ng-container>
  </div>
  <app-input-box></app-input-box>
</div>