<app-keywords-table [tableData]="allData" [remove]="remove.bind(this)" ></app-keywords-table>

<form [formGroup]="addForm" (ngSubmit)="add(addForm.value)">
  <label>
    word：<input formControlName="word" />
  </label>
  <label>
    level：<input formControlName="level" />
  </label>
  <label>
    category：<input formControlName="category" />
  </label>
  <button type="submit">add</button>
</form>
<div class="paginator">
  <button class="prev-button" (click)="changePage(offset)">prev</button>
  <button
    class="page-button"
    *ngFor="let page of pages"
    [ngStyle]="{background: offset+1===page?'red':'blue'}"
    (click)="changePage(page)">{{page}}</button>
  <button class="next-button" (click)="changePage(offset+2)">next</button>
  <div class="total">total: {{count}}</div>
</div>
